@import url("icons.scss");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-image: url('../images/power5.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
}

/* Style the header */
.title {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  background-color: #ffececb3;

}

.main-content {
  position: absolute;
}



/* Create two columns/boxes that floats next to each other */
.side {
  float: left;
  padding: 20px;
  margin: 200px 0 0 30px;
}

/* Style the list inside the menu */
.side ul {
  list-style-type: none;
  padding: 0;
}

.side ul li {
    margin: 20px;
    cursor: pointer;
}

.side ul li a {
    color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ececec;
  margin: auto;
  padding: 20px;
  border: 1px solid #1d1a1a;
  width: 50%;
  border-radius: 4px;
  margin-top: 200px;
}

.modal-content h1 {
  text-align: center;
}

.modal-content p {
  text-align: center;
}




/* The Close Button */
.close {
  color: #5a5555;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content {
  float: left;
  padding: 20px;
  display: block;
  background-color: #f5f5f54f;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  left: 30%;
}

.power-content {
  float: left;
  padding: 20px;
  padding-left: 0;
  width: 55%;
  height: 80%;
  display: block;
  background-color: #fffffff7;
  margin: 100px 0 100px 100px;
  border-radius: 10px; 
  overflow: scroll;
  position: absolute;
  left: 18%;
}

.power-content h2 {
    margin-left: 20px;
}

.power-plants {
    display: inline-block;
    width: auto;
    margin: 10px;
    
}

div[class^="plant"] {
    display: block;
    height: 250px;
    width: 350px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid black;
}

div[class^="plant"]:hover {
    transform: scale(1.5);
}

.plant-hydro {
    background-image: url('../images/hydro.jpg');
    
}

.plant-solar {
    background-image: url('../images/solar.jpg');
}

.plant-thermal {
    background-image: url('../images/thermal.jpg');
}

.plant-wind {
    background-image: url('../images/wind.jpg');
}



/* Clear floats after the columns */
.main-content:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .side, .content {
    width: 100%;
    height: auto;
  }
}

/* bar chart */ 

.verticalChart {
  width:100%;
  .singleBar {
    width:8%;
    float:left;
    margin-left:0.8%;
    margin-right:1%;
    .bar {
      position:relative;
      height:100px;
      background:#67708630;
      overflow:hidden;
      .value {
        position:absolute;
        bottom:0;
        width:100%;
        background:#88e4cb;
        span {
          position:absolute;
          font-size:12px;
          bottom:0;
          width:100%;
          height:20px;
          color:#dddddd;
          text-shadow:0px -1px 0px #380046, 0px 1px 0px #ffffff;
          display:none;
          text-align:center;
        }
      }
    }

    .value2 {
      position:absolute;
        bottom:0;
        width:100%;
        background:#88b2d6
    }

    .value2 span {
         position:absolute;
          font-size:12px;
          bottom: 10px;
          left: 47px;
          display:inline;
    }

    .titleG {
      margin-top:5px;
      text-align:center;
      color: black;
    }
  }
}

.hydro-div {
    display: block;
    width: 95%;
    position: relative;
}

.thermo-div {
    display: block;
    width: 95%;
    position: relative;

}

.hydro-img {
    position: absolute;
    display: block;
    height: 500px;
    width: 10000px;
    background-repeat: no-repeat;
    margin-top: 184px;
    margin-right: auto;
    animation: box 3s infinite;
    border-radius:0 0 0 10px;
}


@keyframes box {
  0% {
      background-image: url(../images/ajde0.png);
  }
  50% {
      background-image: url(../images/ajde1.png);
  }

  100% {
      background-image: url(../images/ajde1.png);
  }
}

.thermo-img {
    position: absolute;
    display: block;
    height: 500px;
    width: 1000px;
    background-repeat: no-repeat;
    margin-top: 250px;
    margin-right: auto;
    animation: box2 3s infinite;
    border-radius:0 0 0 10px;
    
}


@keyframes box2 {
  0% {
      background-image: url(../images/kraj1.png);
  }
  50% {
      background-image: url(../images/kraj2.png);
  }

  100% {
      background-image: url(../images/kraj3.png);
  }
}

.power-content1{
  background-color: #afdff5;
  float: left;
  padding: 40px;
  width: 50%;
  display: block;
  border-radius: 10px; 
  overflow: scroll;
  position: absolute;
  left: 26%;
}

.power-content1 img, .power-content2 img {
  margin-left: 20%;
}

.power-content2 {
  background-color: #ece17cf5;
  float: left;
  padding: 40px;
  width: 50%;
  display: block;
  border-radius: 10px; 
  overflow: scroll;
  position: absolute;
  left: 26%;
}









